body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
    margin: 0;
    padding: 0;
}
.W_layer {
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    position: absolute;
    z-index: 9999;
}
.W_layer a {
    text-decoration: none;
 font-size: 14px;
}
.W_layer .bg {
    background: url("layer_bg.png") repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
}
.W_layer .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 3px 3px 3px 3px;
    position: relative;
}
.W_layer .title {
    background: none repeat scroll 0 0 #F3F3F3;
    color: #595959;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 0 0 20px;
    vertical-align: middle;
}
.alert_content {
    color: #595959;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
 text-align: center;
}
.W_layer .W_close {
    position: absolute;
    right: 14px;
    top: 5px;
    z-index: 2;
}
.W_layer .detail {
    padding: 0 10px 10px;
}
.W_layer .btn {
    padding: 15px 0 0;
    text-align: center;
}
.W_close {
    cursor: pointer;
    height: 20px;
    width: 20px;
}
